---
import Layout from '../layouts/Layout.astro';
import Biography from '../components/Biography.astro';
import GallerySection from '../components/GallerySection.astro'
import Spotify from '../components/Spotify.astro';
import VideoGallerySection from '../components/VideoGallerySection.astro';
---
<Layout title="[Nombre Difunto]">
	<main class="relative flex min-h-screen flex-col overflow-x-hidden">
		<div class="flex flex-1 justify-center py-5 px-4 md:px-40">
			<div class="flex flex-col max-w-[960px] flex-1">
				<Biography/>
				<GallerySection/>
				<Spotify/>
				<VideoGallerySection/>
			</div>
		</div>
	</main>
</Layout>