---
import Portada from "@/components/Portada.astro";
import Remember from "@/components/Remember.astro";
import Layout from "@/layouts/Layout.astro";

---
<Layout title="[Nombre Difunto]">
  <main class="relative flex min-h-screen flex-col overflow-x-hidden">
    <Portada fraseGrande='"Mensajes Eternos, Recuerdos Inolvidables"'' frasePequena='"Cada palabra es un tributo, cada mensaje una conexión que perdura. Honra y recuerda a tu ser querido con mensajes que viven en el corazón."' img=""/>
    <div class="flex flex-1 justify-center py-5 px-4 md:px-40">
      <div class="flex flex-col max-w-[960px] flex-1">
        <Remember/>
      </div>
    </div>
  </main>
</Layout>