---
import { images } from "@/lib/data";
import OpenImage from "./OpenImage.astro";
---

<h2
  class="text-[#0e0e1b] text-xl md:text-[22px] font-bold leading-tight tracking-[-0.015em] pb-5 pt-5 mx-auto"
>
  ÁLBUM DE FOTOS
</h2>
<div class="gallery-grid">
  {images.map((image) => <OpenImage image={image} />)}
</div>

<style>
  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Fuerza siempre tres columnas */
    grid-auto-rows: 10px;
    grid-gap: 10px;
  }

  @media (max-width: 768px) {
    .gallery-grid {
      grid-template-columns: repeat(3, 1fr); /* Mantiene tres columnas en tablets */
    }
  }

  @media (max-width: 480px) {
    .gallery-grid {
      grid-template-columns: repeat(2, 1fr); /* Mantiene tres columnas en móviles */
    }
  }
</style>
