---
import { findAvailableFiles } from "../utilities/typescript";
import OpenImage from "./OpenImage.astro";

const availableFiles = findAvailableFiles();
---

<h2
  class="text-[#0e0e1b] text-xl md:text-[22px] font-bold leading-tight tracking-[-0.015em] pb-3 pt-5"
>
  Galería de Fotos
</h2>
<div class="grid grid-cols-2 md:grid-cols-4 gap-3 p-4">
  {
    availableFiles.map((file) => (
      <OpenImage img={file}/>
    ))
  }
</div>