---
import { images } from '@/lib/data'
import OpenImage from "./OpenImage.astro";
import ButtonVerMas from './ButtonVerMas.astro';
---

<h2
  class="text-[#0e0e1b] text-xl md:text-[22px] font-bold leading-tight tracking-[-0.015em] pb-3 pt-5 mx-auto"
>
  ÁLBUM DE FOTOS
</h2>
<div class="grid grid-cols-2 md:grid-cols-4 gap-3 p-4">
  {images.slice(0,4).map((image) => (
    <OpenImage image={image} />
  ))}
</div>
<div class=" text-center">
  <ButtonVerMas href='/galeria' text="VER MÁS FOTOS" />
</div>
