---
---
<body class="bg-gray-100 flex items-center justify-center h-screen" >
    <div class="bg-white bg-opacity-30 p-6 md:p-8 lg:p-10 rounded-lg shadow-lg w-full max-w-xs">
        <h2 class="text-2xl font-bold mb-4 text-center text-white">Iniciar Sesión</h2>
        <form action="/home" method="POST">
            <div class="mb-4">
                <label for="password" class="block text-white font-bold mb-2">Contraseña</label>
                <input type="password" id="password" name="password" class="shadow appearance-none border rounded w-full py-2 px-3 text-white placeholder-white bg-transparent leading-tight focus:outline-none focus:ring focus:border-blue-300" placeholder="Ingrese su contraseña">
            </div>
            <div class="flex items-center justify-center">
                <button type="submit" class="bg-gray-700 hover:bg-gray-900 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                    Ingresar
                </button>
            </div>
        </form>
    </div>
</body>