---
import type { Images } from "@/lib/data";

interface Props {
  image: Images;
}

const { image } = Astro.props;
const { description, src } = image;
---

<div class="grid-item">
  <a data-fancybox="gallery" data-src={src} data-caption={description} class="block w-full h-full overflow-hidden rounded-xl">
    <img
      src={src}
      alt={description}
      class="w-full h-full object-cover transition-transform duration-300 hover:scale-110"
    />
  </a>
</div>

<script type="module" is:inline>
  import { Fancybox } from "https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.esm.js";

  Fancybox.bind('[data-fancybox="gallery"]', {
    //
  });
</script>