---
import type { ImagesBiography } from "@/lib/data";
interface Props {
  image: ImagesBiography;
}

const { image } = Astro.props;
const { description, src } = image;
---

<a data-fancybox="gallery" data-src={src} data-caption={description}>
  <div class="flex flex-col gap-3">
    <div
      class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-xl cursor-pointer"
      style={`background-image: url(${src});`}
    >
    </div>
  </div>
</a>
<script type="module" is:inline>
  import { Fancybox } from "https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.esm.js";

  Fancybox.bind('[data-fancybox="gallery"]', {
    //
  });
</script>
