---
import type { Images } from "@/lib/data";

interface Props {
  image: Images;
}

const { image } = Astro.props;
const { description, src } = image;
---

<div data-fancybox="gallery" data-src={src} data-caption={description}>
  <div class="flex flex-col gap-3">
    <div
      class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-xl cursor-zoom-in"
      style={`background-image: url(${src});`}
    >
    </div>
  </div>
<div/>
<script type="module" is:inline>
  import { Fancybox } from "https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.esm.js";

  function initFancybox() {
    Fancybox.bind('[data-fancybox="gallery"]', {
      on: {
        closing: (fancybox, slide) => {
          // Prevenir el comportamiento por defecto
          return false;
        }
      },
      Hash: false
    });
  }

  // Inicializar Fancybox al cargar la página
  document.addEventListener('DOMContentLoaded', initFancybox);

  // Re-inicializar Fancybox después de la navegación
  document.addEventListener('astro:page-load', initFancybox);

  // Destruir instancias existentes antes de la navegación
  document.addEventListener('astro:before-swap', () => {
    Fancybox.close(true); // Cierra todas las instancias abiertas
    Fancybox.destroy(); // Destruye las instancias de Fancybox
  });
</script>