---
import type { Images } from "@/lib/data";

interface Props {
  image: Images;
}

const { image } = Astro.props;
const { description, src } = image;
---

<div data-fancybox="gallery" data-src={src} data-caption={description}>
  <div class="flex flex-col gap-3">
    <div
      class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-xl cursor-zoom-in"
      style={`background-image: url(${src});`}
    >
    </div>
  </div>
<div/>
<script type="module">
  import { Fancybox } from "https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.esm.js";

  // Opciones personalizadas
  const options = {
    // Agrega aquí tus opciones personalizadas
  };

  // Inicializa Fancybox
  Fancybox.bind("[data-fancybox]", options);
</script>
