---
---
<div
  class="relative w-full bg-center bg-no-repeat bg-cover h-96"
  style="background-image: url('/gallery/1.jpg');"
>
  <!-- Capa oscura -->
  <div class="absolute inset-0 bg-black opacity-80"></div>
  <!-- Frase encima -->
  <div class="relative z-10 flex items-center justify-center h-full px-4">
    <div class="text-center">
      <p
        class="font-sawarabi text-[#F5F5F5] text-2xl md:text-3xl lg:text-3xl xl:text-4xl font-bold mb-4"
      >
        <span class="relative inline-block">
            "Revive Cada Momento, Disfruta Cada Video."
          <span
            class="absolute inset-x-0 bottom-0 border-b border-[#a8955e] w-full"
            style="transform: translateY(10px);"></span>
        </span>
      </p>
      <p
        class="font-sawarabi text-[#C0C0C0] text-sm md:text-base lg:text-base xl:text-base pt-2 max-w-[700px]"
      >
      "Cada video es una explosión de vida y emoción. Sumérgete en historias visuales que transforman momentos ordinarios en recuerdos extraordinarios."
      </p>
    </div>
  </div>
</div>
