---

---

<div
  class="prose-p:text-[#0e0e1b] prose-p:text-base prose-p:font-normal prose-p:leading-normal prose-p:p-3 prose-p:text-justify"
>
    <slot />
  <button
    id="toggle-button"
    class="justify-center mx-auto bg-[#0e0e1b] text-white hover:text-[#0e0e1b] font-bold py-3 px-7 rounded-full flex items-center transition-colors duration-200 hover:bg-[#d4b577] text-xs"
  >VER MÁS</button>
</div>

