---
import { mensajes } from "@/lib/data";
import CardRemember from "./CardRemember.astro";
---

<h2
  class="text-[#0e0e1b] text-xl md:text-[22px] font-bold leading-tight tracking-[-0.015em] pb-5 pt-5 mx-auto text-center"
>
  MENSAJES DE RECUERDO
</h2>

<div class="max-w-2xl mx-auto overflow-hidden flex flex-col">
  <div class="container">
    {
      mensajes.map((mensaje, index) => (
        <div class="item">
          <CardRemember mensaje={mensaje} index={index} />
        </div>
      ))
    }
  </div>
</div>

<style>
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    align-items: center;
    gap: 16px; /* Espacio entre los elementos */
  }
  .item {
    width: 100%;
    box-sizing: border-box;
  }
</style>
