---
---

<h2
  class="text-[#0e0e1b] text-xl md:text-[22px] font-bold leading-tight tracking-[-0.015em] pb-3 pt-5 mx-auto text-center"
>
  Playlist de Recuerdos
</h2>
<iframe width="100%" height="450" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1861387098&color=%23d4b577&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/christian-alberto-174501537" title="Christian Alberto" target="_blank" style="color: #cccccc; text-decoration: none;">Recuerdos de JoseChacon</a> · <a href="https://soundcloud.com/christian-alberto-174501537/sets/recuerdos-xxl" title="Recuerdos XXL" target="_blank" style="color: #cccccc; text-decoration: none;">Recuerdos XXL</a></div>