---
import OpenVideo from "./OpenVideo.astro";
import { bvideos } from '@/lib/data'
---

<h2 class="text-[#0e0e1b] text-xl md:text-[22px] font-bold leading-tight tracking-[-0.015em] pb-3 pt-5">Galería de Videos</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-3 p-4">
    {
      bvideos.map((bvideo) => (
        <OpenVideo video={bvideo}/>
      ))
    }
  </div>